<div class="landing">
    <!-- Navigation Bar -->
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>

    <section class="hero">
      <div class="hero-content">
        <a routerLink="/product-listing" class="btn btn-primary">All Models</a>
      </div>
    </section>
  
    <!-- Features Section -->
    <section id="features" class="features">
      <div class="feature">
        <i class="fas fa-bolt"></i>
        <h2>Key Features</h2>
        <p>Zero-emission electric vehicles powered by advanced electric drivetrains.</p>
        <p>Cutting-edge Autopilot features for semi-autonomous driving.</p>
        <p>Impressive driving range on a single charge, providing convenience for long trips.</p>
      </div>
    </section>
  
    <!-- Performance Section -->
    <section id="performance" class="performance">
      <div class="performance-content">
        <h2>Performance</h2>
        <p>Tesla's flagship performance model, the Model S Plaid, is known for its astonishing acceleration, with 0 to 60 mph times under 2 seconds.</p>
        <p>Electric motors provide immediate and consistent torque from a standstill, resulting in rapid acceleration and responsiveness.</p>
        <p>Many Tesla models come standard with dual-motor AWD, providing improved traction and stability in various driving conditions, including wet and snowy roads.</p>
      </div>
    </section>
  
    <!-- Sustainability Section -->
    <section id="sustainability" class="sustainability">
      <div class="sustainability-content">
        <h2>Sustainability</h2>
        <p>Tesla's battery technology is designed to have a long lifespan, which reduces the need for frequent battery replacements and waste.</p>
        <p>Tesla offers solar energy products, including solar panels and solar roofs, which enable homes and businesses to generate clean energy from sunlight.</p>
      </div>
    </section>
  </div>
  